.logo {
	margin-top: 5%;
	min-width: 15%;
	max-width: 15%;
}

.logo_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
}

.up_logo {
	height: auto;
	z-index: 1;
}

.sub_logo {
	height: auto;
	position: relative;
	top: -120px; /* Move down slightly for overlap */
	z-index: 2;
}

.centered_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.centered_container button {
	min-width: 250px;
	max-width: 250px;
	border-radius: 10px;
	padding: 8px;
	margin-bottom: 20px;
	font-size: 1.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
	color: whitesmoke;
	background-color: rgb(75, 0, 130);
	box-shadow: 0 0 10px rgba(75, 0, 130, 1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease;
}
.centered_container button:hover {
	background-color: rgb(255, 102, 102);
	outline: 10px double whitesmoke;
	box-shadow: 0 0 20px rgba(255, 102, 102), 0 0 30px rgba(255, 102, 102);
}

.centered_container select {
	min-width: 250px;
	max-width: 250px;
	border-radius: 10px;
	padding: 8px;
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: whitesmoke;
	background-color: rgb(75, 0, 130);
	box-shadow: 0 0 10px rgba(75, 0, 130, 1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease;
	border: none; /* To remove the default border */
	cursor: pointer; /* Adds a pointer cursor on hover */
}

.centered_container select:hover {
	background-color: rgb(255, 102, 102);
	outline: 10px double whitesmoke;
	box-shadow: 0 0 20px rgba(255, 102, 102), 0 0 30px rgba(255, 102, 102);
}

.centered_container select:focus {
	outline: 2px solid rgba(255, 102, 102, 0.7);
	box-shadow: 0 0 20px rgba(255, 102, 102), 0 0 30px rgba(255, 102, 102);
}

.centered_container select option {
	background-color: rgb(75, 0, 130);
	color: whitesmoke;
	font-weight: bold;
}

.centered_container select option:hover {
	background-color: rgb(255, 102, 102);
	color: black;
}


.userinfo_container {
	margin-bottom: 5%;
	/* margin-top: 4%; */
	margin-left: 20%;
	margin-right: 20%;
	/* margin: 10%; */
	border: 4px solid white;
	border-radius: 30px;
	/* max-width: 100%;
	min-width: 50%; */
	/* max-height: 50%;
	min-height: 50%; */
	background-color: rgb(75, 0, 130, 0.4)
}
.userinfo_container p {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4%;
	color: whitesmoke;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
.userinfo_container img {
	border-radius: 30px;
	margin: 2%;
	max-width: 20%;
	max-height: 20%;
	min-width: 20%;
	min-height: 20%;
}